body{
  min-height: 100vh;

    background-color: #c1c2c6;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    background-image: url('./background.jpeg');

}


.box{
  position:relative;
  max-width: 700px;
  width: 100%;
  background-color: #f1f1f1;
  padding:25px;
  border: 2px solid black;
}
/* .row{
  display: flex;
  margin-left: 0%;
}  */
