body {
    background-color: #e0ccd7;
    overflow: hidden; /* Prevent scrolling */
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw; /* Use viewport width instead of fixed width */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card-wrapper {
    text-align: center;
    border: 1px solid black;
}

.card {
   
    background-color: #ba8ca4;

    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 20px;


}

.notification-icon {
    padding-left: 20px;
}

.notification-icon:hover {
    cursor: pointer;
}

.notification-wrapper {
    position: fixed;
    bottom: 270px;
    right: 20px;
    opacity: 0; /* Initially hide the notifications */
    animation: fadeIn 0.3s ease forwards; /* Add animation effect */
    pointer-events: none; /* Disable pointer events when hidden */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.notification-wrapper.show {
    pointer-events: auto; /* Enable pointer events when shown */
}

.notification-card {
    margin-top: 10px; /* Adjust the margin between stacked notifications */
    height: 50px;
    position: relative;
    
}

.notification-card:not(:first-child) {
    margin-top: 30px; /* Adjust the margin between stacked notifications */
}

.notification-card {
    margin-top: 1px;
    position: relative;
 
    margin-bottom: 80px;
    height: 50px; /* Adjust height as needed */
   
    
}

.notification-card.hidden {
    display: none; /* Hide the notification card */
}

.dashboard {
    background-color: #8e5572;

    text-align: right;
    padding-right: 10px;
    height: 130px;
   padding-bottom: 40px;
}
.heading{
    text-align: center;
    padding-top: 30px;
}
.notification-container {
    position: fixed;
    top: 160px;
    right:1px;
    max-height: 400px; /* Set max height for scrolling */
    min-height: 100px;
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #8e5572;

    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it's above other elements */
  }
  .cancel-icon-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .card-n{
    background-color: #bf90a9;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 20px;

  }